<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo4.png" type="image/x-icon">
  <meta name="description" content="">
  <title>Home</title>
  <link rel="stylesheet" href="/home/kakarot/workspace/SmarTuck/src/main/resources/static/assets/web/assets/mobile-icons/mobile-icons.css">
  <link rel="stylesheet" href="/home/kakarot/workspace/SmarTuck/src/main/resources/static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/home/kakarot/workspace/SmarTuck/src/main/resources/static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/home/kakarot/workspace/SmarTuck/src/main/resources/static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/home/kakarot/workspace/SmarTuck/src/main/resources/static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/home/kakarot/workspace/SmarTuck/src/main/resources/static/assets/theme/css/style.css">
  <link rel="stylesheet" href="/home/kakarot/workspace/SmarTuck/src/main/resources/static/assets/mobile/css/mbr-additional.css" type="text/css">
   
  
</head>
<body>
  <section class="cid-qZgbGPpATX mbr-fullscreen mbr-parallax-background" id="header15-1">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(7, 59, 76);"></div>

    <div class="container align-right">
<div class="row">
    <div class="mbr-white col-lg-8 col-md-7 content-container">
        <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
            SmarTuck</h1>
        <p class="mbr-text pb-3 mbr-fonts-style display-5"><strong>“For every minute spent in organizing, </strong><br><strong>an hour is earned.”</strong><br></p>
    </div>
    <div class="col-lg-4 col-md-5">
    <div class="form-container">
        <div class="media-container-column" data-form-type="formoid">
            <div data-form-alert="" hidden="" class="align-center">Thanks for filling out the form!</div>
           
            <form class="mbr-form" action="" method="post" data-form-title="Login Form">

              <!-- <input type="hidden" name="email" data-form-email="true" value="Ipyfcaa+ItCCTtxphCoDrVqdpq62nnTHzglLCquDGq/C4BViwEamCt63oOQsgsn5/dy7KbxR07+LOzW9GSM6l/7uXEdAZAOV2C70Ne2Dgw//vmLP/SYGVh+oKAFhu03U" data-form-field="Email"> -->
                
            
                <div data-for="select">
                    <div class="form-group">
                        <select class="form-control" id="select" required>
                            <!-- <option disabled>Login As</option> -->
                            <option value="">Login As</option>
                            <option value="employee">Employee</option>
                            <option value="shopkeeper">Shopkeeper</option>
                        </select>
                  </div>
                </div>

                <div data-for="userid">
                    <div class="form-group">
                        <input type="text" class="form-control px-3" name="userid" data-form-field="userid" placeholder="Login ID" id="name-header15-1" required pattern="[Aa]{1}[0-9]{6}$" title="Must contain A followed by 6 digits">
                    </div>
                </div>
                <div data-for="password">
                    <div class="form-group">
                        <input type="password" class="form-control px-3" name="password" data-form-field="password" placeholder="Password" required="" id="email-header15-1" required pattern="(?=.*\d)(?=.*[a-z])(?=.*\d)(?=.*[a-z]).{8,}" 
                        title="Must contain at least one uppercase,one lowercase and minimum 8 digits">
                    </div>
                </div>
                
                
                <span class="input-group-btn">
                    <button href="" type="submit" class="btn btn-secondary btn-form display-4">LOGIN</button>
                </span>
            </form>

        </div>
    </div>
    </div>
</div>
    </div>
    
</section>


  <script src="/home/kakarot/workspace/SmarTuck/src/main/resources/static/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/home/kakarot/workspace/SmarTuck/src/main/resources/static/assets/popper/popper.min.js"></script>
  <script src="/home/kakarot/workspace/SmarTuck/src/main/resources/static/assets/tether/tether.min.js"></script>
  <script src="/home/kakarot/workspace/SmarTuck/src/main/resources/static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/home/kakarot/workspace/SmarTuck/src/main/resources/static/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/home/kakarot/workspace/SmarTuck/src/main/resources/static/assets/parallax/jarallax.min.js"></script>
  <script src="/home/kakarot/workspace/SmarTuck/src/main/resources/static/assets/theme/js/script.js"></script>
  <script src="/home/kakarot/workspace/SmarTuck/src/main/resources/static/assets/formoid/formoid.min.js"></script>
  
  
</body>
</html>